<div class="uk-margin-top uk-margin-left uk-card uk-card-default uk-card-body uk-border-rounded uk-animation-slide-bottom-small uk-animation-fast" style="min-height: 28em; width:750px; overflow: overlay;">
    <h1 class="uk-card-title">Bienvenue</h1>
    <p>Deserunt ut excepteur est incididunt adipisicing. 
    Elit cupidatat Lorem dolor ex officia esse consectetur anim ex anim sit fugiat proident duis. Ex id nostrud elit anim do. 
    Excepteur culpa magna laborum tempor qui. Cupidatat consectetur in aute commodo do reprehenderit labore mollit sit.
    Deserunt ut excepteur est incididunt adipisicing. 
    Elit cupidatat Lorem dolor ex officia esse consectetur anim ex anim sit fugiat proident duis. Ex id nostrud elit anim do. 
    Excepteur culpa magna laborum tempor qui. Cupidatat consectetur in aute commodo do reprehenderit labore mollit sit.
    Deserunt ut excepteur est incididunt adipisicing. 
    Elit cupidatat Lorem dolor ex officia esse consectetur anim ex anim sit fugiat proident duis. Ex id nostrud elit anim do. 
    Excepteur culpa magna laborum tempor qui. Cupidatat consectetur in aute commodo do reprehenderit labore mollit sit.
    Deserunt ut excepteur est incididunt adipisicing. 
    Elit cupidatat Lorem dolor ex officia esse consectetur anim ex anim sit fugiat proident duis. Ex id nostrud elit anim do. 
    Excepteur culpa magna laborum tempor qui. Cupidatat consectetur in aute commodo do reprehenderit labore mollit sit.
    Deserunt ut excepteur est incididunt adipisicing.  
    </p>
</div>