<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
        <div class="uk-navbar-nav">
        <a class="uk-logo" routerLink="" (click)="onClick(0)"><img class="uk-logo" src="./assets/img/logo-placeholder.svg" width="50%" alt="LOGO"></a>
        </div>
    </div>
    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            <li><a class="uk-button uk-button-default uk-width-1-1 uk-text-emphasis uk-text-bold" uk-icon="icon: file-edit" uk-toggle="target: #modalForm" (click)="onClick(1)">Je m'inscris</a></li>
        </ul>
    </div>
</nav>